<div class="issue-card">
  <%= turbo_frame_tag dom_id(issue) do %>
    <div class="issue-card-header">
      <%= render Issues::Status::Component.new(issue: issue) %>

      <div class="issue-actions">
        <%= link_to edit_issue_path(issue) do %>
          <%= image_tag 'icons/pencil.svg' %>
        <% end %>

        <%= link_to issue_path(issue), method: :delete, data: { confirm: 'Are you sure?' } do %>
          <%= image_tag 'icons/trash.svg' %>
        <% end %>
      </div>
    </div>

    <div class="issue-card-body">
      <p class="issue-information">
        Shipped at:
        <strong><%= issue.shipped_at ? issue.shipped_at.strftime('%B %e, %Y') : '-' %></strong>
      </p>
      <p class="issue-information">
        Resolved at:
        <strong><%= issue.resolved_at ? issue.resolved_at.strftime('%B %e, %Y') : '-' %></strong>
      </p>
    </div>

    <div class="issue-card-footer">
      Go to:
      <%= link_to 'Airbrake', issue.airbrake_link, data: { turbo: false } %>,
      <%= link_to 'Trello', issue.trello_link, data: { turbo: false } %>
    </div>
  <% end %>
</div>
